@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.p-contact-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 48px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  gap: 24px;
  color: var(--Default-Text-Primary, #111);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border-radius: 8px;
  border: 1px solid #d3d3d3;
  background: #fff;
}

.p-contact-form label {
  display: block;
  margin-bottom: 8px;
  color: var(--Default-Text-Primary, #111);
}

.p-contact-form input,
.p-contact-form textarea {
  width: 100%;
  padding: 12px 16px;
  box-sizing: border-box;
  border: 1px solid var(--Gray-300, #d0d5dd);
  border-radius: 4px;
  color: var(--Default-Text-Tertiary, rgba(17, 17, 17, 0.5));
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.p-contact-form button {
  padding: 12px 24px;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  background: var(--Blue-450, #355094);
  color: var(--Default-white, #fff);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.p-contact-form button:hover {
  background-color: #0056b3;
}

.p-contact {
  display: flex;
  gap: 80px;
  padding: 120px 160px 80px 160px;
}
.p-contact-text {
  width: 50%;
  align-items: center;
  display: flex;
  text-align: center;
}
.p-contact-text h1 {
  color: var(--Blue-600, #0e2662);
  font-family: Montserrat;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0%;
  text-align: center;
}
.p-contact-text p {
  color: var(--Default-Text-Secondary, rgba(17, 17, 17, 0.7));
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0%;
  padding-top: 12px;
  text-align: center;
}
.p-contact-content {
  width: 100%;
}

.p-name {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.p-name-container {
  width: 50%;
}
.p-phone-number {
  display: flex;
  flex-direction: column;
}

.css-b62m3t-container {
  width: 25%;
}
.css-13cymwt-control {
  border-color: white !important;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 4px;
  color: var(--Default-Text-Tertiary, rgba(17, 17, 17, 0.5));
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.css-art2ul-ValueContainer2 {
  padding-left: 0 !important;
}

.p-selector {
  display: flex;
  flex-direction: row;
  padding: 12px 16px;
  box-sizing: border-box;
  border: 1px solid var(--Gray-300, #d0d5dd);
  border-radius: 4px;
  color: var(--Default-Text-Tertiary, rgba(17, 17, 17, 0.5));
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

#phoneNumber {
  padding: 0px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 4px;
  color: var(--Default-Text-Tertiary, rgba(17, 17, 17, 0.5));
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

span {
  color: red;
}

/* AboutUs */
/* 
.p-aboutUs .s-gallery-set p{
  display: none;
} */

.p-aboutUs-banner-background {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  background: linear-gradient(
      90deg,
      rgba(18, 48, 123, 0.8) 0%,
      rgba(86, 157, 208, 0.8) 100%
    ),
    url("./assets/aboutus_background_banner.jpeg") lightgray 1.359px -262.647px /
      109.673% 227.428% no-repeat;
}
.p-breadcrumb {
  padding-bottom: 40px;
  width: 100%;
}
.p-breadcrumb a {
  text-decoration: none;
  color: var(--Default-white, #fff);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.p-breadcrumb-subtitle {
  color: #0e2662;
  font-family: Montserrat;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 84px */
}
.p-breadcrumb-current {
  font-weight: 400 !important;
}

.p-breadcrumb-current:hover {
  text-decoration: underline;
}

.p-breadcrumb span {
  text-decoration: none;
  color: var(--Default-white, #fff);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.p-mobile-title {
  width: 100%;
  display: none;
}
.p-mobile-title h1 {
  color: var(--Blue-600, #0e2662);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}
.p-mobile-title p {
  color: var(--Default-Text-Secondary, rgba(17, 17, 17, 0.7));

  /* Montserrat -  Text/Small - Text/Regular */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.p-aboutUs-text {
  padding-bottom: 20px;
  width: 100%;
}
.p-aboutUs-text h1 {
  color: var(--Default-white, #fff);
  font-family: Montserrat;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.p-aboutUs-description p {
  color: rgba(255, 255, 255, 0.7);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 777px;
}
.p-about-section {
  display: flex;
  padding: 80px 160px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 64px;
}

.MR_industries {
  width: 592px;
  height: 501px;
  border-radius: 16px;
}

.p-about-text {
  color: var(--Red-400, #ad2a27);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-left: 2px solid red;
  padding-left: 8px;
}
.p-mr-inds-text {
  color: var(--Blue-600, #0e2662);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  padding: 0px 0 24px;
}
.p-mr-desc {
  align-self: stretch;
  color: var(--Default-Text-Secondary, rgba(17, 17, 17, 0.7));
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.p-mr-desc.mobile {
  display: none;
}

.p-what-we-do {
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.p-card-grid {
  padding-top: 48px;
  gap: 48px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.p-card-grid.mobile {
  display: none;
}
.p-card-row1,
.p-card-row2 {
  width: 100%;
  gap: 56px;
  display: flex;
  justify-content: space-between;
}
.p-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #fff;
  gap: 55px;
  border: double 2px transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(90deg, #12307bcc, #569dd0cc);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.circle-svg {
  width: 93.205px;
  height: 91.541px;
  fill: #d9d9d9;
  align-self: center;
}
.p-circle-svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-right: 52px;
  padding-left: 52px;
}

.p-card-text {
  align-self: center;
  width: 100%;
  height: 35px;
  color: var(--Default-Text-Primary, #111);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 50px;
  padding-right: 52px;
  padding-left: 52px;
}
.p-policy-mission {
  display: flex;
  padding: 80px 160px;
  align-items: flex-start;
  gap: 64px;
  display: flex;
  flex-direction: column;
}

.p-policy-desc-text {
  display: flex;
  height: 164px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  border: 2px solid #12307b;

  border: double 2px transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(90deg, #12307bcc, #569dd0cc);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.p-policy-desc-text p {
  padding: 20px;
  display: flex;
  height: 78px;
  flex-direction: column;
  justify-content: center;
  color: var(--Default-Text-Primary, #111);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.p-our-policy {
  color: var(--Blue-600, #0e2662);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.p-policy-text {
  gap: 40px;
  display: flex;
  flex-direction: column;
}
.p-why-choose-us {
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.p-why-choose-us p {
  color: var(--Blue-600, #0e2662);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.p-why-us-desc {
  display: flex;
  flex-direction: row;
  gap: 26px;
  width: 445px;
}
.p-choose-us-text {
  padding-bottom: 24px;
}
.p-why-rectangle {
  width: 37px;
  height: 32px;
  background: #d9d9d9;
}
.p-desc-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.p-why-us-desc p {
  color: var(--Default-Text-Primary, #111);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.p-why-us-subtext {
  color: var(--Default-Text-Secondary, rgba(17, 17, 17, 0.7)) !important;
  font-family: Montserrat !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 24px !important;
}
.p-why-us-row {
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.p-where-we-work {
  display: flex;
  padding: 80px 140px;
  flex-direction: column;
  align-items: flex-start;
  gap: 33px;
}
.p-infrastructure {
  color: var(--Red-400, #ad2a27);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-left: 2px solid red;
  padding-left: 8px;
}
.p-where-we-work-text {
  color: var(--Blue-600, #0e2662);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  padding-top: 8px;
}
.p-where-we-work-desc {
  color: var(--Default-Text-Secondary, rgba(17, 17, 17, 0.7));
  width: 839px;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.p-six-card-grid {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  gap: 40px;
  width: 100%;
}
.p-mb-container {
  display: none;
}
.card-row-top,
.card-row-mid,
.card-row-btm {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 100%;
  justify-content: space-between;
}
.p-certifications-qualification {
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.p-certi-quali-text {
  color: var(--Blue-600, #0e2662);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  padding-bottom: 24px;
}
.p-certi-quali-divs {
  display: flex;
  padding: 24px 24px 40px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  border-radius: 8px;
  border: 1px solid var(--Blue-50, #d3ddf8);
  background: var(--Default-white, #fff);
  width: 360px;
}
.p-certi-main {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  width: 100%;
}
.p-certi-main.mobile {
  display: none;
}

.p-iso-title {
  color: var(--Blue-450, var(--blue, #355094)) !important;
  font-family: Montserrat !important;
  font-size: 30px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 38px !important;
}
.p-top-half {
  display: flex;
  padding-bottom: 16px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  border-bottom: 1px solid var(--Blue-100, #9cafdd);
}
.p-btm-half p {
  color: var(--Blue-300, #5770ac);
  text-align: left;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.p-btm-half {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.p-certi-qual-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.p-btm-half li {
  align-self: stretch;
  color: var(--Default-Text-Secondary, rgba(17, 17, 17, 0.7));
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.react-card-flip {
  cursor: pointer;
  width: 548px;
  height: 457px;
  border-radius: 8px;
}
.react-card-back {
  width: 548px;
  height: 457px;
  border-radius: 20px;
  background: linear-gradient(
      0deg,
      rgba(40, 67, 133, 0.8) 0%,
      rgba(40, 67, 133, 0.8) 100%
    ),
    url("./assets/TestImg.png") lightgray 50% / cover no-repeat;
}
.p-card-back-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: absolute;
  width: 548px;
  height: 457px;
  padding: 74px 27px 74px;
}
.p-card-back-subtext {
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  gap: 10px;
}
.p-subtext-back-p {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.p-subtext-back-p.top {
  width: 262px;
}
.p-subtext-back-p.btm .back,
.front {
  width: 548px;
  height: 457px;
}
.back {
  width: 548px;
  height: 457px;
}
.p-card-back-title p {
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.p-service-details-main {
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
}
.p-img-desc-main {
  width: 100%;
  display: flex;
  gap: 80px;
}
.p-sd-img-cover {
  width: 50%;
  display: flex;
  height: 530px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 16px;
  border: 1px solid #ccc;
  background: #fff;
}
.p-img-desp-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 50%;
}
.p-img-desc-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.p-img-desc-top p {
  color: var(--Blue-600, #0e2662);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.p-img-desc-top span {
  color: var(--Default-Text-Secondary, rgba(17, 17, 17, 0.7));
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.p-img-desc-top li {
  color: var(--Default-Text-Secondary, rgba(17, 17, 17, 0.7));
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.p-sd-li {
  color: var(--Default-Text-Primary, #111);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.p-sd-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.p-product-gallery {
  display: flex;
  width: 100%;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.p-product-gallery-heading {
  display: block;
  color: var(--Blue-600, #0e2662);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.p-product-gallery-container {
  height: 250px;
  display: flex;
  align-items: center;
  gap: 50px;
  align-self: stretch;
}
.p-product-gallery-left-button,
.p-product-gallery-right-button {
  cursor: pointer;
}
.p-product-gallery-left-button,
.p-product-gallery-right-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 74px;
  height: 74px;
}
.p-product-gallery-left-button.disabled,
.p-product-gallery-right-button.disabled {
  opacity: 0.3;
  pointer-events: none;
}
.p-gallery-set-container {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}
.p-gallery-set {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  width: 250px;
  height: 250px;
}

.p-gallery-set img {
  object-fit: none;
  align-self: stretch;
  width: auto;
  height: 228.888px;
  flex-shrink: 0;
}

.p-gallery-set p {
  width: 100%;
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
}
.p-gallery-dots {
  text-align: center;
  padding-top: 0;
  display: flex;
  gap: 15px;
  align-self: center;
}

.p-gallery-dot {
  display: inline-block;
  width: 16px;
  height: 16px;
  stroke-width: 1px;
  border: 1px solid #111;
  border-radius: 50%;
  cursor: pointer;
}

.p-gallery-dot.active {
  background-color: #355094;
}

.title-svg-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Optional: if you want space between the text and SVG */
}

.title-svg-container p {
  margin: 0; /* Adjust as necessary */
}

.title-svg-container svg {
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .p-breadcrumb {
    display: none !important ;
  }
  .p-img-desc-main {
    gap: 16px;
    flex-direction: column;
    width: 100%;
  }
  .p-mobile-title {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .p-aboutUs-text h1 {
    color: var(--Default-white, #fff);
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .p-aboutUs-description p {
    color: var(--Default-white, #fff);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: fit-content;
  }
  .p-aboutUs-banner-background {
    display: flex;
    padding: 80px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  .p-about-section {
    display: flex;
    flex-direction: column;
    padding: 48px 20px;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }
  .p-about-text {
    color: var(--Red-400, #ad2a27);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .p-mr-inds-text {
    color: var(--Blue-600, #0e2662);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    padding: 8px 0 0;
  }
  .p-industry-img {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  .MR_industries {
    width: 100%;
    height: 100%;
  }
  .p-what-we-do {
    display: flex;
    padding: 48px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
  }
  .p-mr-desc {
    display: none;
  }
  .p-mr-desc.mobile {
    display: block;
    align-self: stretch;
    color: var(--Default-Text-Secondary, rgba(17, 17, 17, 0.7));
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
  }
  .p-card-grid {
    padding-top: 0;
    display: none;
    gap: 16px;
  }
  .p-card-grid.mobile {
    display: flex;
  }
  .p-card-row1,
  .p-card-row2 {
    gap: 16px;
  }
  .circle-svg {
    width: 40px;
    height: 40px;
    margin-bottom: 0;
    margin-top: 40px;
  }
  .p-card-text {
    color: var(--Default-Text-Primary, #111);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: fit-content;
    margin-bottom: 20px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }
  .p-card {
    gap: 12px;
    height: auto;
  }
  .p-policy-mission {
    display: flex;
    padding: 48px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
  }
  .p-our-policy {
    color: var(--Blue-600, #0e2662);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
  }
  .p-policy-text {
    gap: 8px;
  }
  .p-policy-desc-text p {
    color: var(--Default-Text-Secondary, rgba(17, 17, 17, 0.7));
    font-family: Montserrat;
    font-size: 14px;
    height: auto;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding: 16px;
  }
  .p-policy-desc-text {
    height: auto;
  }
  .p-why-choose-us {
    display: flex;
    padding: 48px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
  }
  .p-why-choose-us p {
    color: var(--Default-Text-Primary, #111);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .p-why-us-subtext {
    color: var(--Default-Text-Secondary, rgba(17, 17, 17, 0.7)) !important;
    font-family: Montserrat !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
  }
  .p-why-rectangle {
    width: 24px;
    height: 24px;
  }
  .p-choose-us-text p {
    color: var(--Blue-600, #0e2662);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
  }
  .p-choose-us-text {
    padding-bottom: 0;
  }
  .p-why-us-row {
    gap: 24px;
  }
  .p-why-us-desc {
    flex-direction: column;
    gap: 8px;
  }
  .p-desc-info {
    gap: 8px;
  }
  .p-where-we-work {
    display: flex;
    padding: 48px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    align-self: stretch;
  }
  .p-infrastructure {
    color: var(--Red-400, #ad2a27);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }
  .p-where-we-work-text {
    color: var(--Blue-600, #0e2662);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
  }
  .p-where-we-work-desc {
    color: var(--Default-Text-Secondary, rgba(17, 17, 17, 0.7));
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: fit-content;
  }
  .p-six-card-grid {
    display: none;
  }

  .p-certifications-qualification {
    display: flex;
    padding: 48px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
  }
  .p-certi-quali-text {
    color: var(--Blue-600, #0e2662);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    padding-bottom: 0;
  }
  .p-certi-main {
    display: none;
  }
  .p-certi-main.mobile {
    gap: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .p-top-half {
    gap: 16px;
  }
  .p-top-half img {
    width: 70px;
    height: 70px;
  }
  .p-iso-title {
    font-size: 24px !important;
    line-height: normal !important;
  }
  .p-certi-qual-card {
    gap: 16px;
    width: 100%;
  }
  .p-certi-mobile-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .p-certi-mobile-div svg {
    transition: transform 0.3s ease;
  }
  .svg-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .p-certi-quali-divs {
    height: fit-content;
    width: 100%;
    padding: 20px;
  }
  .p-btm-half p {
    color: var(--Blue-450, var(--blue, #355094));
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
  }
  .p-mobile-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .p-mobile-card-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    z-index: 1;
  }
  .p-arrow-down-svg {
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .p-mobile-card-back-main {
    z-index: 2;
    background: linear-gradient(
      90deg,
      rgba(18, 48, 123, 0.8) 0%,
      rgba(86, 157, 208, 0.8) 100%
    );
    display: flex;
    width: 300px;
    height: fit-content;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-top: -89px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 8px;
    position: absolute;
    bottom: 0;
  }
  .p-certi-main-container {
    display: flex;
    width: 100%;
  }
  .p-mb-container {
    overflow: hidden;
    display: flex;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }

  .p-mb-container::-webkit-scrollbar {
    display: none;
  }

  .p-mobile-card {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    overflow: hidden;
    position: relative;
  }
  .p-card-back-title.mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .p-card-back-title.mobile p {
    color: var(--Default-white, #fff);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
  }
  .p-card-back-subtext.mobile {
    color: var(--Default-white, #fff);
    width: fit-content;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding-top: 24px;
  }
  .p-subtext-back-p {
    gap: 10px;
  }
  .p-card-back-main.mobile {
    width: fit-content;
  }
  .p-contact {
    display: flex;
    padding: 48px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
  }
  .p-contact-text h1 {
    color: var(--Blue-600, #0e2662);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
  }
  .p-contact-text p {
    color: var(--Default-Text-Secondary, rgba(17, 17, 17, 0.7));
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding-top: 16px;
  }
  .p-contact-form,
  .p-contact-text {
    width: 100%;
  }
  .p-contact-form {
    padding: 0px;
    border: none;
    box-shadow: none;
  }
  .p-contact-form label {
    color: var(--Default-Text-Primary, #111);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
  .p-name {
    flex-direction: column;
  }
  .p-name-container {
    width: 100%;
  }
  .css-1xc3v61-indicatorContainer {
    padding: 0px;
  }
  .p-product-gallery {
    display: flex;
    padding: 48px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    align-self: stretch;
  }
  .p-product-gallery-heading {
    display: none;
  }
  .p-product-gallery-container {
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
  }
  .p-product-gallery-left-button svg,
  .p-product-gallery-right-button svg {
    height: 30px;
    width: 30px;
  }
  .p-product-gallery-left-button svg circle,
  .p-product-gallery-right-button svg circle {
    display: none;
  }
  .p-gallery-set {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  }

  .p-gallery-set img {
    height: 228.888px;
    align-self: stretch;
  }
  .p-product-gallery-left-button,
  .p-product-gallery-right-button {
    width: auto;
    height: auto;
  }
  .p-gallery-set p {
    height: 56px;
    padding: 8px 0px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 0px 0px 8px 8px;
    border-top: 1px solid rgba(17, 17, 17, 0.05);
    color: var(--Default-Text-Secondary, rgba(17, 17, 17, 0.7));
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
  }
  .p-gallery-dots {
    display: none;
  }
  .p-service-details-main {
    display: flex;
    padding: 48px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }
  .p-sd-img-cover {
    width: 100%;
    padding: 0%;
    border: none;
    height: 202px;
    object-fit: cover;
  }
  .p-sd-img-cover img {
    width: 100% !important;
    height: 100% !important;
  }
  .p-img-desc-top {
    display: none;
  }
  .p-img-desp-main {
    width: 100%;
    gap: 24px;
  }
  .p-sd-li {
    color: rgba(17, 17, 17, 0.7);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }
  .p-enquire-now-btn-div {
    width: 100%;
  }
  .p-circle-svg-mobile-cover {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  /* 
  .p-aboutUs .s-gallery-set p{
  display: none;
} */
}
